@import "tailwindcss";

@theme {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-spigot: #d8811f;
    --color-discord: #5865F2;

    --color-theme: #5162D5;
    --color-theme-50: #E5E7F9;
    --color-theme-100: #D4D9F5;
    --color-theme-200: #B4BBED;
    --color-theme-300: #939DE5;
    --color-theme-400: #7280DD;
    --color-theme-500: #5162D5;
    --color-theme-600: #2E41C0;
    --color-theme-700: #233292;
    --color-theme-800: #182265;
    --color-theme-900: #0E1338;

    --color-gray-250: #ececec;
}

@layer base {
    body {
        @apply dark:bg-gray-900 dark:text-gray-200;
    }

    hr {
        @apply my-4 dark:text-gray-700;
    }

    h1, h2, h3 {
        @apply dark:text-white;
    }
    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 800;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 800;
    }

    h3 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
    }

    .bbcode-preview {
        @apply text-base;

        a {
            @apply text-theme-500 dark:text-theme-200 hover:underline;
        }
        ol {
            @apply list-decimal;
        }
        ul {
            @apply list-disc;

            ul {
                @apply list-[circle];
            }
        }
        ul, ol {
            @apply my-4 ml-8;

            ul, ol {
                @apply my-0;
            }
        }
        img, svg, video, canvas, audio, iframe, embed, object {
            @apply inline;
        }

        .inline-code {
            @apply bg-gray-200 dark:bg-gray-700 text-sm px-1 py-0.5 rounded;
        }

        details {
            @apply my-2;

            summary {
                @apply w-fit font-semibold py-2 px-4 rounded-md transition cursor-pointer bg-gray-200 dark:bg-gray-700  hover:bg-gray-300 dark:hover:bg-gray-600 text-slate-900 dark:text-slate-200;
            }
            > div {
                @apply mt-2 bg-gray-200 dark:bg-gray-800 p-2 rounded-md;
            }
        }
    }
}