@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  $max-width: 1260px;
  $font-header: 'Roboto', 'Arial', sans-serif;
  $font-poppins: Poppins, 'Roboto', 'Arial', sans-serif;
  $header-secondary: #4f5660;
  $border-color: rgba(6, 6, 7, .08);
  $border-light: 1px solid $border-color;
  $text-header: rgb(17, 24, 39);
  $text-normal: #2e3338;
  $text-muted: #5e6672;
  $background: #fff;
  $background-soft: #f8f9f9;
  $background-soft-darkened: #ECECECFF;
  $background-soft-darkest: #e2e2e2;
  $box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  $page-gutter: 2.5rem;
  $theme-color: #5162d5;
  $danger-color: #d55151;
  $theme-sharpened: #0c81ff;
  $border-radius-small: 0.375rem;
  $input-border-color: rgb(209 213 219);
  $label-color: rgb(55 65 81);
  $icon-fill: #000;

  $acpu-bg: #fff;
  $acpu-bg-hover: #ecececff;
  $acpu-color: #000;
  $acpu-f-bg: #000;
  $acpu-f-bg-hover: #1c1c1c;
  $acpu-f-color: #fff;
  $acpu-red: #ca2929;

  $wiki-sidebar-background: #fafafa;
  $wiki-sidebar-head: #6b7280;
  $wiki-sidebar-head-selected: #393a3e;
  $wiki-sidebar-child: #6b7280;
  $wiki-sidebar-child-selected: #393a3e;
  $wiki-sidebar-child-border: #e5e7eb;
  $wiki-sidebar-child-border-selected: #cbccd0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root html.dark {
  $background: #121e30;
  $text-header: rgb(200, 217, 255);
  $header-secondary: #e6e6e6;
  $text-normal: #d8dfe6;
  $text-muted: #aaafb7;
  $background-soft: #1b2b44;
  $background-soft-darkened: #1a2a42;
  $border-color: #4f648361 !important;
  $input-border-color: rgba(76, 96, 125, 0.61);
  $label-color: rgb(227, 238, 255);
  $icon-fill: #fff;

  $wiki-sidebar-background: #0a172b;
  $wiki-sidebar-head: #a9aaae;
  $wiki-sidebar-head-selected: #e5e8f7;
  $wiki-sidebar-child-border: #364a68;
  $wiki-sidebar-child-selected: #b5bbd7;
  $wiki-sidebar-child-border-selected: #959bb3;

  $acpu-bg: #fff;
  $acpu-bg-hover: #ecececff;
  $acpu-color: #000;
  $acpu-f-bg: #fff;
  $acpu-f-bg-hover: #ecececff;
  $acpu-f-color: #000;
  $acpu-red: #993a3a;
}
